@charset "UTF-8";
.header {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
}
.header_menu {
  font-family: "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", "sans-serif";
}
.header_list {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}
@media (width <= 767px) {
  .header_list {
    justify-content: center;
  }
}
.header_item {
  padding: 25px;
  margin-left: 80px;
  font-size: 16px;
}
@media (width <= 767px) {
  .header_item {
    padding: 0.2rem;
    margin-left: 3rem;
    font-size: 0.8rem;
  }
}
.header_item_con {
  margin-right: 50px;
}
.header_item a {
  text-decoration-line: none;
  color: #3f648d;
  padding-bottom: 5px;
  position: relative;
}
.header_item a::before {
  background: #fedf66;
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  left: 0;
  bottom: 0;
  transform-origin: right top;
  transform: scale(0, 1);
  transition: transform 0.3s;
}
.header_item a:hover::before {
  transform-origin: left top;
  transform: scale(1, 1);
}

.main_ttl_inner {
  margin: 55px 75px 0;
}
.main_ttl .ttl_b {
  padding-right: 75px;
  border-right: 3px solid #d9d9d9;
}
@media (width <= 767px) {
  .main_ttl .ttl_b {
    padding-right: 20px;
    border-right: 1px solid #d9d9d9;
  }
}
.main_ttl .ttl_kana {
  font-family: "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", "sans-serif";
  color: #738ca9;
  font-size: 22px;
  margin-bottom: 20px;
}
@media (width <= 767px) {
  .main_ttl .ttl_kana {
    font-size: 0.9rem;
  }
}
.main_ttl .ttl_big {
  display: flex;
  align-items: center;
  font-family: "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", "sans-serif";
  font-size: 60px;
  color: #3f648d;
  position: relative;
  font-weight: 600;
  letter-spacing: 3px;
}
@media (width <= 767px) {
  .main_ttl .ttl_big {
    font-size: 0.9rem;
    letter-spacing: 1px;
  }
}
.main_ttl .ttl_s {
  position: relative;
  font-family: "ヒラギノ角ゴ ProN W3", HiraKakuProN-W3, 游ゴシック, "Yu Gothic", メイリオ, Meiryo, Verdana, Helvetica, Arial, sans-serif;
  color: #738ca9;
  font-weight: 100;
  font-size: 22px;
  letter-spacing: 1px;
  padding-left: 75px;
}
@media (width <= 767px) {
  .main_ttl .ttl_s {
    font-size: 0.7rem;
    padding-left: 20px;
  }
}

.portfolio_mv_img img {
  max-width: 1200px;
  width: 100%;
}
@media (width <= 767px) {
  .portfolio_mv_img img {
    max-width: 600px;
  }
}
.portfolio_mv_inner {
  margin-top: 100px;
  text-align: center;
}

.portfolio_detail {
  max-width: 800px;
  margin: 0 auto;
  color: #3f648d;
  padding: 50px 0 150px;
}
@media (width <= 767px) {
  .portfolio_detail {
    max-width: 520px;
  }
}
.portfolio_detail .detail {
  border-top: solid 1px #d9d9d9;
  display: flex;
  justify-content: flex-start;
  font-size: 15px;
  padding: 50px 20px;
}
@media (width <= 767px) {
  .portfolio_detail .detail {
    flex-direction: column;
  }
}
.portfolio_detail .detail_ttl {
  width: 137px;
  letter-spacing: 2px;
}
@media (width <= 767px) {
  .portfolio_detail .detail_ttl {
    margin-bottom: 20px;
  }
}
.portfolio_detail .detail_txt {
  padding-left: 60px;
  font-size: 15px;
  letter-spacing: 2px;
  line-height: 18px;
}
@media (width <= 767px) {
  .portfolio_detail .detail_txt {
    font-size: 10px;
  }
}
.portfolio_detail .detail_last {
  position: relative;
}
.portfolio_detail .detail_last::after {
  position: absolute;
  content: "";
  margin: 0 10px;
  width: 800px;
  border-bottom: 1px solid #d9d9d9;
  right: -10px;
  bottom: 0px;
}
@media (width <= 767px) {
  .portfolio_detail .detail_last::after {
    width: 520px;
  }
}
.portfolio_item {
  margin: 0 auto 180px;
}
.portfolio_item_inner {
  text-align: center;
}
.portfolio_item_img {
  filter: drop-shadow(5px 5px 10px #d9d9d9);
}
.portfolio_item_img img {
  width: 100%;
  max-width: 1200px;
}
@media (width <= 767px) {
  .portfolio_item_img img {
    max-width: 600px;
  }
}

.footer {
  position: relative;
  background-color: #738ca9;
  height: 330px;
}
.footer_inner {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin: 0 auto;
  padding-top: 80px;
}
.footer_item {
  list-style: none;
  padding-bottom: 50px;
  font-size: 16px;
}
.footer_box {
  font-family: "Yu Mincho Light", "YuMincho", "Yu Mincho", "游明朝体", "sans-serif";
}
.footer .content_emil {
  position: relative;
}
.footer .content_emil::after {
  position: absolute;
  content: "";
  width: 258px;
  border-bottom: 1px solid white;
  right: -15px;
  top: 30px;
}
.footer .content_img {
  padding-bottom: 15px;
}
.footer a {
  text-decoration-line: none;
  color: white;
  font-size: 16px;
  padding-left: 10px;
}
.footer a:hover {
  color: #fedf66;
}
.footer .namuc {
  color: white;
  font-size: 16px;
  text-align: center;
}/*# sourceMappingURL=w_portfolio.css.map */